body {
    background-color: #f3f3f3;
}

#drawProperties {
    padding: 0% 2% 2% 2%;
}

#drawProperties > h3 {
    text-align: center;
}

.well > .text-hint {
    color: #aa2412;
}

.well > .text-example {
    color: #2e3133;
}

.well > * {
    width: 100%;
}

#map {
    max-height: fit-content;

}

.fa-angle-left {
    margin-left: 0;
    padding-left: 0;
}

.fa-angle-right {
    margin-right: 0;
    padding-right: 0;
}

.margin-center {
    margin-right: auto;
    margin-left: auto;
}

.separator {
    padding-top: 0;
    margin-top: 0;
}

.navigator {
    display: flex;
}

.flex-wraper {
    display: flex;
    flex: 0 0 100%;
    /*flex-basis: auto;*/
}

.navigator-button {
    /*color: transparent;*/
    border: transparent;
    background-color: transparent;
}

.code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px
}

.header {
    margin-left: 30%;
}

#editorPanel {
    transition: all 5s linear;
}

#info-editor {
    background-color: transparent;
    border-color: transparent;
}