body {
    background-color: #f3f3f3;
}

#drawProperties {
    padding: 0% 2% 2% 2%;
}

#drawProperties > h3 {
    text-align: center;
}

.well > .text-hint {
    color: #aa2412;
}

.well > .text-example {
    color: #2e3133;
}

.well > * {
    width: 100%;
}

#map {
    height: 700px;
    max-height: fit-content;

}